#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}



/*from https://codepen.io/pineapplechunk/pen/AoegBq */ 
/* .wrapper {
  width: 900px;
  height: 600px;
  border-top: 1px solid #e2e2e2;
  margin: 50px auto;
  border: 1px solid #CCCCCC;
}
  
 .tab {
   position: absolute;
    width: 900px;
    height: 600px;
    background-color: #e8e8e8;
    border-radius: 6px;
    border-top-left-radius: 0px;
  padding: 20px;
  }

  #bt1 {
    background-color: #7BCAE1;
    border-top-left-radius: 3px;
  
    left: -1px;
    
  }
  
  #bt2 {
    background-color: #FF7575;
    left: 97px;
  }
  
  #bt3 {
    background-color: #A6CAA9;
    left: 196px;
  }
  
  #bt3:hover, #bt2:hover, #bt1:hover {
    opacity: 1;
    transition: opacity ease 100ms;
  } */
  
  /* .button {
    
      width: 100px;
    height: 30px;
        position: absolute;
      top: -30px;
      border-radius: 3px;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    border-bottom-right-radius: 0;
    opacity: 0.8;
    z-index: 2;
    transition: all ease 100ms;
    /*border-right: 1px solid #7D7D7D;*/
  } */
  
  /* .button.selected {
    top: -40px;
    height: 40px;
    z-index: 1;
    opacity: 1;
  }
  
  .active {
    z-index: 1;
  }
  
  .tab > h1 {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin: 25% auto;
    font-size: 3em;
    letter-spacing: 6px;
    color: #DDDDDD;
  } */
  
  /*
  Form Styling
  */
  
/*   form {
    width: 33%;
    height: 600px;
    display: inline-block;
    overflow: hidden;
  } */

  /*
Legend Styling
*/
/* legend {
  font-weight: bold;
  font-size: 1.5em;
  color: #7BCAE1;
}

legend:after {
  content: "";
  display: block;
  width: 100px;
  height: 1px;
  border-bottom: 2px solid #DDDDDD;
} */

/*
Input Styling
*/

/* label {
  position: relative;
  padding-bottom: 10px;
  display: inline-block;
  float: left;
  clear: left;
  width: 80px;
  padding-top: 6px;
  margin-bottom: 5px;
  text-align: center;
  margin-right: 20px;
}

input {
  margin-bottom: 10px;
  border-radius: 
}

.small {
    width: 30px;
    display: inline-block;
    margin-right: 5px;
} */

/*
Basic Info Styling
*/

/*
Stat Styling
*/

/* #stats .table-header td{
  font-size: 11px;
  position: relative;
  display: inline-block;
  left: 70px;
  margin-left: 8px;
}




#stats label {
  display: inline-block;
  width: 60px;
  padding-top: 6px;
  border-radius: 3px;
  background-color: #666666;
  color: #ffffff;
  border: none;
}

#stats input {
  margin-bottom: 20px;
} */

/* from https://codepen.io/terminalGradience/pen/ENQRpp /*

body{
  background-color: #222;
  color: #CCC;
}

.vertField{
  float: left;
  margin-right: 10px;
}

td{
  width: 50px;
  padding: 2px 5px;
  background-color: #333;
  vertical-align: center;
  text-align: center;
}

.outcol{
  width: 75px;
}

.statfield{
  width:30px;
  text-align:center;
}

.atkfield{
  width:40px;
  text-align:center;
}

form, p{
  background-color: #333;
  padding: 5px 10px;
  margin: 2px;
  line-height: 175%;
}

.removeBtn{
  float:right;
}

.prototype{
  display:none;
}
