body {
  background-image: url(./Images/Home-background.gif);
  background-size: cover;
  background-position: center;
  background-repeat: no repeat;
}

nav {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: normal;
  justify-content: space-between;
  padding: 10px;
  background: rgba(0, 0, 0, 0);
}

.navtext {
  color: goldenrod;
}

.navtext2 {
  color: goldenrod;
  display: flex;
  float: right;
}

.navtext,
.navtext2 {
  display: flex;
  text-decoration: none;
}

nav {
  background: rgba(0, 0, 0, 0);
  padding: 10px;
}

ul {
  list-style-type: none;
  padding: 10px;
  justify-content: space-between;
  margin: 0;
  display: flex;
}

li {
  margin: 0 20px; /* Spacing between nav items */
}

.nav-link {
  color: goldenrod; /* Link color */
  text-decoration: none; /* Removes underline */
  padding: 10px; /* Padding around links */
}

/* How to Play page */
.how-to-play {
  background-image: url(./Images/background-image2.gif);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-size: cover;
  background-position: stretch;
  background-repeat: no-repeat;
  height: 100vh;
  overflow: auto; /* adds scroll bars when content exceeds the viewport */
  /* width: 100%; */
  color: goldenrod;
  margin: 0;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 30px;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.nav-left1 {
  margin-left: 250px;
}

.htp-head-text {
  color: aliceblue;
  text-shadow: 3px 2px darkgoldenrod;
}

.htp-text {
  color: cornsilk;
  margin-top: 30px;
  margin-bottom: 5px;
}

p {
  margin-top: 5;
}

.htp-text2 {
  color: honeydew;
  padding-bottom: 0;
  margin-bottom: 5px;
}

.htp1 {
  text-align: center;
  align-items: center;
}

.htp-div {
  display: flex;
  align-items: center;
  justify-content: center;
}

th {
  padding-top: 0;
}

/* About Us page */
.about-us {
  background-image: url(./Images/background-image2.gif);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-size: cover;
  background-position: stretch;
  background-repeat: no-repeat;
  height: 100vh;
  overflow: auto; /* adds scroll bars when content exceeds the viewport */
  /* width: 100%; */
  color: goldenrod;
  margin: 0;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 30px;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.about-h1 {
  color: aliceblue;
  text-shadow: 3px 2px darkgoldenrod;
}

.about-h2 {
  color: cornsilk;
  margin-top: 30px;
  margin-bottom: 5px;
}

.about-h3 {
  color: honeydew;
  padding-bottom: 0;
  margin-bottom: 5px;
  font-family: 'balzano-std', sans-serif;
  font-size: 30px;
}

/* Login Page and Signup Page */
.login-page,
.signup-page {
  background-image: url(./Images/background-image2.gif);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-size: cover;
  background-position: stretch;
  background-repeat: no-repeat;
  height: 100vh;
  overflow: auto; /* adds scroll bars when content exceeds the viewport */
  /* width: 100%; */
  color: goldenrod;
  margin: 0;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 30px;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.form {
  display: flex;
  justify-content: center;
}

.card-container {
  background-image: url(./Images/tarot-card.png); /* Background image */
  background-size: contain; /* Adjust this as needed */
  background-repeat: no-repeat; /* No repeat */
  background-position: center; /* Center background */
  width: 300px; /* Width of the card */
  height: 400px; /* Height of the card */
  display: flex; /* Flexbox for centering content */
  flex-direction: column; /* Arrange inputs vertically */
  justify-content: center; /* Center inputs vertically */
  align-items: center; /* Center inputs horizontally */
  border-radius: 10px; /* Rounded corners */
  padding: 20px; /* Padding inside the card */
  margin-top: 200px;
}

.user-box {
  margin-bottom: 15px; /* Space between inputs */
  width: 100%; /* Full width for inputs */
  position: relative; /* To position inputs correctly */
}

input {
  color: goldenrod;
  width: 90%; /* Width of the input field */
  padding: 10px; /* Padding inside the input */
  border: none; /* No border */
  border-radius: 5px; /* Rounded corners */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Optional shadow */
}

input-type {
  color: #f5d04d;
}

button {
  padding: 10px 20px; /* Padding for the button */
  border: goldenrod; /* No border */
  border-radius: 5px; /* Rounded corners */
  background-color: #f5d04d; /* Button color */
  cursor: pointer; /* Pointer on hover */
  color: goldenrod;
}

.btn {
  margin-top: 20px;
  padding: 10px 20px; /* Padding for the button */
  border: goldenrod; /* No border */
  border-radius: 5px; /* Rounded corners */
  background-color: dimgray; /* Button color */
  cursor: pointer; /* Pointer on hover */
}

/* layer library, reset, base, demo;
@import 'https://unpkg.com/open-props@2.0.0-beta.5' layer(library);
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300..700&display=swap');

@layer reset {

  *,
  ::before,
  ::after {
    box-sizing: border-box;
  }

  :where(:not(dialog)) {
    margin: 0;
  }
}

@layer base {
  html {
    --nav-block-size: 74px;
    --brand-gradient: linear-gradient(227deg,
        #1400c7 0%,
        #00bbff 100%);

    @media (prefers-reduced-motion: no-preference) {
      scroll-behavior: smooth;
    }
  }

  body {
    font-family: 'Inter', sans-serif;
    min-block-size: 100dvb;
  }
}

@layer demo {
  .navbar {
    min-block-size: var(--nav-block-size);
    display: grid;
    position: fixed;
    inset-block-start: 0;
    inset-inline: 0;
    background-color: white;
    z-index: var(--layer-3);
    place-items: center end;
    padding-block: var(--size-3);
    padding-inline: var(--size-5);

    @media (width >=600px) {
      padding-inline: 6dvi;
    }
  }

  .nav-cta-btn {
    font-size: var(--font-size-1);
    font-weight: var(--font-weight-7);
    inline-size: max-content;
    white-space: nowrap;
    text-decoration: none;
    padding-block: var(--size-3);
    padding-inline: var(--size-7);
    border: var(--border-size-2) solid transparent;
    color: black;
    position: relative;
    isolation: isolate;

    background: linear-gradient(white, white) padding-box,
      var(--brand-gradient) border-box;
    border-radius: var(--radius-6);
    overflow: hidden;

    &::before {
      content: '';
      display: block;
      position: absolute;
      inset: 0;

      background: var(--brand-gradient);
      mix-blend-mode: screen;
    }

    &:hover {
      color: white;

      &::before {
        background: var(--brand-gradient) padding-box,
          var(--brand-gradient) border-box;
        background-repeat: no-repeat;
        background-size: contain;
        mix-blend-mode: normal;
        z-index: -1;
      }
    }
  }

  .section {
    --section-block-size: max(400px, 100dvb);
    display: grid;
    background-color: white;
    min-block-size: var(--section-block-size);
    position: relative;
    block-size: 100%;
    display: grid;

    >* {
      grid-area: 1/1;
    }
  }

  .section-wrapper {
    position: relative;
    display: grid;

    @media (width >=960px) {
      grid-template-columns: 1fr 1fr;
    }

    @media (width < 960px) {
      padding-block-start: calc(var(--nav-block-size) + var(--size-7));
      padding-block-end: var(--size-7);
    }
  }

  .video {
    display: block;
    inline-size: 100%;
    block-size: 100%;
    object-fit: cover;
    position: relative;
    z-index: -1;
  }

  .content-wrapper {
    display: grid;

    @media (width < 960px) {
      gap: var(--size-7);
    }
  }

  .meta {
    display: grid;
    gap: var(--size-3);
  }

  .content {
    display: grid;
    inline-size: 100%;
    place-items: center;
    padding-block: var(--size-7);
    padding-inline: var(--size-5);

    @media (width >=960px) {
      padding: var(--size-10);
      min-block-size: 100cqb;
      place-items: center end;
    }

    @media (width < 960px) {
      gap: var(--size-5);
    }
  }

  .mobile-visual {
    inline-size: 100%;
    aspect-ratio: var(--ratio-square);

    @media (width >=960px) {
      display: none;
    }
  }

  .headline {
    font-size: var(--font-size-7);
    font-weight: var(--font-weight-4);
    max-inline-size: var(--size-content-1);
    text-wrap: pretty;

    @media (width < 960px) {
      font-size: var(--font-size-6);
    }
  }

  .desc {
    font-size: var(--font-size-4);
    line-height: 1.5;
    max-inline-size: 40ch;
    text-wrap: pretty;

    @media (width < 960px) {
      font-size: var(--font-size-3);
    }
  }

  .visual {
    display: grid;
    position: sticky;
    block-size: var(--section-block-size);
    inset-block-start: 0;
    container-type: size;

    @media (width < 960px) {
      display: none;
    }
  }

  .video-visual {
    inline-size: 100%;
    block-size: var(--section-block-size);
    display: block;
    position: sticky;
    inset-block-start: 0;
    isolation: isolate;
    filter: hue-rotate(210deg);
  }

  .card-wrapper {
    container-type: size;
    display: grid;
    place-items: center;
    overflow: clip;

    >* {
      grid-area: 1/1;
    }
  }

  .card {
    aspect-ratio: var(--ratio-square);
    inline-size: 70cqi;
    border-radius: var(--radius-3);
    scale: 0.4;
  }

  .card-img {
    display: block;
    inline-size: 100%;
    block-size: 100%;
    object-fit: cover;
  }

  .card-1 {
    scale: 1;
  }

  .card-2 {
    translate: -35cqi 30cqb;
    opacity: 0.3;
  }

  .card-3 {
    translate: 0cqi 50cqb;
    opacity: 0.5;
  }

  .card-4 {
    translate: 45cqi 40cqb;
    opacity: 0.5;
  }

  .content-1 {
    --_text-gradient: linear-gradient(227deg,
        #1400c7 0%,
        #00bbff 100%);
  }

  .content-2 {
    --_text-gradient: linear-gradient(227deg,
        #28dc28 0%,
        #00bbff 100%);
  }

  .content-3 {
    --_text-gradient: linear-gradient(227deg,
        #1400c7 0%,
        #b800b1 100%);
  }

  .content-4 {
    --_text-gradient: linear-gradient(227deg,
        #b800b1 0%,
        #f50000 100%);
  }

  .text-highlight {
    background: var(--_text-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    /* text-fill-color: transparent; */
/* }
}

@supports (animation-timeline: scroll()) {
  body {
    timeline-scope: --content-1, --content-2, --content-3, --content-4;
  }

  .section {
    view-timeline-name: --section;
  }
 */
/* .content-1 {
    view-timeline-name: --content-1;
  }

  .content-2 {
    view-timeline-name: --content-2;
  }

  .content-3 {
    view-timeline-name: --content-3;
  }

  .content-4 {
    view-timeline-name: --content-4;
  }

  .card {
    animation-timing-function: linear;
    animation-fill-mode: forwards;
  }

  .card-1 {
    animation-timeline: --content-1;
    animation-name: slide-up-first-card;
  }

  .card-2 {
    animation-timeline: --content-2;
    animation-name: slide-up-card;
  }

  .card-3 {
    animation-timeline: --content-3;
    animation-name: slide-up-card;
  }

  .card-4 {
    animation-timeline: --content-4;
    animation-name: slide-up-card;
  }

  .video-visual {
    animation-timeline: --section;
    animation-range-end: exit 110%;
    animation-name: update-hue;
    animation-timing-function: step-end;
    animation-fill-mode: forwards;
  }

  @keyframes update-hue {
    0% {
      filter: hue-rotate(210deg);
    }

    25% {
      filter: hue-rotate(150deg);
    }

    45% {
      filter: hue-rotate(300deg);
    }

    60% {
      filter: hue-rotate(4deg);
    }
  } */

/* @keyframes slide-up-first-card {
    50% {
      translate: 0;
      opacity: 1;
    }

    90% {
      translate: 0 -50cqi;
      scale: 0.6;
    }

    100% {
      translate: 0 -100cqi;
      opacity: 0;
    }
  }

  @keyframes slide-up-card {
    50% {
      opacity: 1;
      translate: 0;
      scale: 1;
    }

    90% {
      opacity: 0.5;
      scale: 0.6;
      translate: 0 -50cqb;
    }

    100% {
      translate: 0 -100cqi;
      opacity: 0;
    }
  }
} */
